@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,200;0,300;0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,200;0,300;0,400;1,500&family=Roboto:wght@100;400;500;700&display=swap');

:root {
    --green: #23B732;
    --blue: #3EADDE;
    --orange: #FA9C1F;
    --red: #DE3E3E;
    --purple: #620069;
    --gray: #EBEBEB;
    --gray-light: #ebebeb7c;
    --orange-light:#FCB018;   
  }
  

.img-logo-overwatch {
    width: 27.5rem;
    height: 15rem;
    margin-top: 6rem !important;
}

.welcome-play {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 10rem;
    border-left: 2px solid gray;
}

.container-father-form {
    margin-top: 5rem;
}

form {
    transform: skewX(-14deg);
}

.logo-platforms {
    width: 1.5rem;
}

section {
    height: 100vh !important;
}

.input {
    background-color: var(--gray-light);
    height: 3.5rem;
    width: 25rem !important;
}

.button-acess {
    background-color: var(--orange);
    margin-bottom: 6rem;    
    height: 3.5rem;
    width: 25rem !important;
}

.play-all {
    background-color: var(--gray);
    width: 27rem;
    height: 6rem;
    margin-top: 4rem;
}

.w-70 {
    width: 50%
}

.triangle {
    width: 11.5rem;
    height: 100vh;
    background-color: var(--orange);
    clip-path: polygon(88% 0, 0 0, 40% 50%);
    left: 22px; 
    z-index: 2;
    top: -10px;
    
}

.parallelogram {
    width: 69rem;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    clip-path: polygon(15.8% 0%, 100% 0%, 95% 100%, 0% 100%);
    z-index: 1;    
    left: 4px;
    top: 0px;
    background-image: url(/assets/images/coliseu1.png);
    background-position: -190px 0px; 
    background-repeat: no-repeat; 
    background-size: cover;
    filter: brightness(8%);  
    opacity: 90%;
}

.parallelogram-2 {
    width: 55rem;
    height: 100vh;
    background-color: var(--orange);
    clip-path: polygon(78% 0, 100% 0%, 100% 100%, 62% 100%);    
    left: 357px;
    top: 0px;
    z-index: 3;    
}

.ellipse {
    width: 70rem;
    height: 70rem;
    bottom: -38rem;
    right: -54rem;
    margin: 20px;    
    border-radius: 50%;
    background: transparent;    
    border: 2px solid rgb(255, 255, 255); 
    z-index: 7;  
}

.container-arrows {
    top: 70px;
    left: 1007px;    
    z-index: 4;
    width: 189px;
    height: 105px;
}

.arrow-common {
    width: 100px;
    height: 55px;
    background-color: var(--orange-light);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(270deg);
    opacity: 0.8;    
}

.imgs-central {
    z-index: 5;
    top: 12rem;
    left: 0
    
}

.character {
    width: 45rem;
    right: -40rem;
    z-index: 1;
}

.logo-central {
    width: 30rem;
    top: 13rem;
    right: -50rem;
    opacity: 0.3;    
}






